<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-group w-50 m-auto">
            <div class="card p-4">
              <div class="card-body">
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="home" />
                    <mat-icon matSuffix>home</mat-icon>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
