<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-group w-50 m-auto">
            <div class="card p-4">
              <div class="card-body">
                <form class="">
                  <!-- ======================= -->
                  <!-- Username -->
                  <!-- ======================= -->
                  <mat-form-field class="w-100">
                    <mat-placeholder>
                      <mat-icon class="icon-volume-2" matPrefix>person</mat-icon>
                    </mat-placeholder>
                    <mat-placeholder *ngIf="showPlaceholder" >Username
                    </mat-placeholder>
                    <input matInput (focus)="focusEvent($event)" (blur)="blurEvent($event)" />
                  </mat-form-field>
                  <!-- ======================= -->
                  <!-- Password -->
                  <!-- ======================= -->
                  <mat-form-field class="w-100">
                    <mat-placeholder>
                      <mat-icon matPrefix>vpn_key</mat-icon>
                    </mat-placeholder>
                    <mat-placeholder *ngIf="showPlaceholder" >Password
                    </mat-placeholder>
                    <input matInput (focus)="focusEvent($event)" (blur)="blurEvent($event)" />
                  </mat-form-field>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
