<div class="row">
  <div class="col-md-3 c-pointer" (click)="addArticle()">
    <mat-card class="example-card">
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>Agregar artículos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="icon-lg d-flex justify-content-center align-content-center">
          <mat-icon [inline]="true">add</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Titulo prueba</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngTemplateOutlet="stockFormTpl"></ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<ng-template #stockFormTpl>
  <form [formGroup]="stockForm" novalidate>
    <!-- ====================== -->
    <!-- DENOMINACION -->
    <!-- ====================== -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Denominación</mat-label>
      <input matInput placeholder="Denominación" formControlName="denomination" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="stockForm.get('denomination').hasError('required')">
        La denominación es<strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <!-- ====================== -->
    <!-- PRECIO DE VENTA -->
    <!-- ====================== -->
    <mat-form-field appearance="outline" class="d-inline-block w-50">
      <mat-label>Precio de venta</mat-label>
      <input matInput placeholder="Precio de venta" formControlName="salePrice" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="stockForm.get('salePrice').hasError('required')">
        El precio de venta es<strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="stockForm.get('salePrice').hasError('pattern')">
        Solo ingresá<strong>números</strong>
      </mat-error>
    </mat-form-field>
    <!-- ====================== -->
    <!-- PRECIO DE COMPRA -->
    <!-- ====================== -->
    <mat-form-field appearance="outline" class="d-inline-block w-50 float-right">
      <mat-label>Precio de compra</mat-label>
      <input matInput placeholder="Precio de compra" formControlName="purchasePrice" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="stockForm.get('purchasePrice').hasError('required')">
        El precio de compra es<strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="stockForm.get('purchasePrice').hasError('pattern')">
        Solo ingresá<strong>números</strong>
      </mat-error>
    </mat-form-field>
    <!-- ====================== -->
    <!-- STOCK -->
    <!-- ====================== -->
    <mat-form-field appearance="outline" class="d-inline-block w-50">
      <mat-label>Cantidad</mat-label>
      <input matInput placeholder="Cantidad" formControlName="stock" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="stockForm.get('stock').hasError('required')">
        La cantidad es<strong>requerida</strong>
      </mat-error>
      <mat-error *ngIf="stockForm.get('stock').hasError('pattern')">
        Solo ingresá<strong>números</strong>
      </mat-error>
    </mat-form-field>
    <!-- ====================== -->
    <!-- TAMAÑO -->
    <!-- ====================== -->
    <mat-form-field appearance="outline" class="d-inline-block w-50 float-right">
      <mat-label>Tamaño</mat-label>
      <input matInput placeholder="Tamaño" formControlName="measure" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="stockForm.get('measure').hasError('required')">
        El tamaño es<strong>requerida</strong>
      </mat-error>
      <mat-error *ngIf="stockForm.get('measure').hasError('pattern')">
        Solo ingresá<strong>números</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Crear articulo</button>
  </form>
</ng-template>