<div class="row">
  <div class="col-md-2 c-pointer" [routerLink]="['/items/control-type']" (click)="goToController('add')">
    <mat-card class="">
      <mat-card-header class="d-flex justify-content-center align-items-center icon-lg">
        <mat-card-title>Agregar rubro</mat-card-title>
        <mat-icon [inline]="true">add</mat-icon>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-md-2 c-pointer" (click)="goToController('update')">
    <mat-card [ngClass]="{'card-disabled': !selectedType}">
      <mat-card-header class="d-flex justify-content-center align-items-center icon-lg">
        <mat-card-title>Actualizar rubro</mat-card-title>
        <mat-icon [inline]="true">add</mat-icon>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <app-grid [rows]="rows" [columns]="columns" (rowSelected)="rowSelected($event)"></app-grid>
  </div>
</div>