// Variable overrides
$success: #12a52f;
$danger: #dd1c26;
$warning: #dd621c;
$info: #1cc9dd;
$secondary: #a8a3a3;
$dark: #232323;
$white: #ffffff;
$black: #000000;
$primary: #3f51b5;

// Grays
$gray-10 : #f4f4f4;
$gray-100 : #e5e5e5;
$gray-200 : #d3d3d3;
$gray-300 : #c1c1c1;
$gray-400 : #a5a5a5;
$gray-500 : #878787;
$gray-600 : #757575;
$gray-700 : #606060;
$gray-800 : #545454;
$gray-900 : #3a3a3a;