.success-snack {
    background: $success;
    font-weight: 600;
}
.danger-snack {
    background: $danger;
    font-weight: 600;
}
.info-snack {
    background: $info;
    color: $dark;
    font-weight: 600;
}
.warning-snack {
    background: $warning;
    font-weight: 600;
}
